<div class="navbar">
  <ul class="navbar__items">
    <a href="{% url 'home' %}" class="navbar__item">Likelion</a>
    <a href="{% url 'new' %}" class="navbar__item">Write</a>
  </ul>
</div>

<div class="main">
  <form action="{% url 'create' %}">
    <h4>제목:</h4>
    <input type="text" name="title" />
    <br />
    <h4>본문:</h4>
    <textarea cols="40" rows="10" name="body"></textarea>
    <br />
    <br />
    <input class="btn btn-dark" type="submit" value="제출하기" />
  </form>
</div>

<style>
  body {
    padding: 0;
    margin: 0;
  }

  .navbar {
    height: 60px;
    border-bottom: 1px solid black;
  }

  .navbar__items {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  .navbar__item {
    list-style: none;
    font-size: 20px;
  }

  .main {
    padding: 0 30px;
  }
</style>
